body {
  margin: 0;
  font-family: Arial, sans-serif;
}

main {
  height: 100vh;

  background-image: url("/background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 20px;

  color: white;
  position: relative;
}

main::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.7);
}

main > * {
  position: relative;
  z-index: 1;
}

h1 {
  font-size: 3rem;
  color: red;
}

a {
  color: white;
  text-decoration: none;
  background: #222;
  padding: 10px 20px;
  border-radius: 10px;
}

a:hover {
  background: #444;
}