.human {
  width: 384px;  
  height: 384px;  

  background-image: url("/Human.png");
  background-repeat: no-repeat;

  background-size: 1536px 384px; 

  animation: humanIdle 0.8s steps(4) infinite;
}

@keyframes humanIdle {
  from {
    background-position: 0px;
  }
  to {
    background-position: -1536px;
  }
}